################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameServerMatchMaking/.vs/GameServerMatchMaking
/GameServerMatchMaking/obj/Debug
/GameServerMatchMaking/bin/Debug
